@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.no-caret {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.no-caret::-ms-expand {
  display: none;
}